@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100;1,300;1,400;1,500;1,800&display=swap');
body{
	font-family: 'Popping', 'Courier New', Courier, monospace;
}
.navbar a {
	color: #1aa59c;
	transition: 0.5s;
}


body{
	/* background-image: linear-gradient( rgb(166, 219, 225), rgb(133, 177, 216)); */
	background-color: rgb(166, 219, 225);
}
.navbar a:hover {
	transition: 0.5s;
	color: #b47eb3;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #b9e2df;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 10vh;
}

#main-navbar{
	 
	/* background-color: rgb(133, 177, 216) ; */
		background-image: linear-gradient( rgb(133, 177, 216),  rgb(166, 219, 225));
	  
}

#main-footer{
	background-color: rgb(194, 228, 194);
	background-image: linear-gradient(  rgb(166, 219, 225), rgb(133, 177, 216) );
} 

#home {
	height: 80vh;
}

#disclaimer {
	padding: 40px;
}

#big-logo {
	height: 300px;
}

@media screen and (min-width: 768px) {
	.navbar {
		background-color: #b1ede8;
		height: 90px;
	}

	.navbar a {
		color: #23395b;
	}
	
	.navbar-brand {
		width: 10vw;
	}

	.navbar-brand img {
		width: 100%;
		height: auto;
	}

	.navbar-collapse {
		width: 80vw;
	}

	.navbar-nav {
		width: 100%;
	}

	.navbar-nav .nav-item {
		width: 10%;
		text-align: center;
		align-items: center;
		margin: auto;
	}

	.nav-link {
		padding: 0 !important;
	}

	.form-inline, .form-control {
		width: 100% !important;
	}

	#search-input-box {
		width: 50%;
		margin-top: 15px;
	}

	

	

	
}
.rentit-heading{
	font-size: 80px;
	margin-top: 10px;
	text-align:center;
	font-family:Cursive;
	color:#191970;
}

.html-marquee {height:100px;width:300px;font-size:22px;color:#000033;}